N:\GEN\Shared\Sheffield Diagnostic Genetics Service\Bioinformatics\EQA-Master\Source Files\EQA-Master\EQA_Databasev1.0\bin

EQAMWeb_wsdl.cs

StarLimsWSDL.cs

UserAuthentication_wsdl.cs

N:\GEN\Shared\Sheffield Diagnostic Genetics Service\Bioinformatics\EQA-Master\Source Files\EQA-Master\EQA_Databasev1.0\App.config